*{
    box-sizing: border-box;
}


html{
    font-size:62.5%;
    // 10/16
}

body{
    background-color: @pColor;
    max-width:100%;
}

img{
    width:100%;
    height:auto;
}

p{
    font-family: @pFont;
    font-weight:400;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-justify: justify;
    padding-left:1rem;
}

a{
    text-decoration: none;
    color:#fff;
    font-size:2.5rem;
    &:hover{
        color:#ddd;
    }
}

h1,h2,h3,h4{
    font-family: @hFont;
    font-size:2.5rem;
}

.container{
    max-width:1000px;
    width:100%;
    padding:5px;
    margin:auto;
}