header{
 
    .flex(column);
    align-items:center;
    margin:15px 0;


    h1{
        font-size:4rem;
        color:@hColor;
    }
    nav{
        width:75%;
        display: flex;
        justify-content: space-around;
        margin:15px 0;
        a{
            text-decoration:none;
            color:#fff;
        }
    }
}