.intro{
    background: #c9dce1;
    
    max-width:960px;
    width:100%;
    .margin(@margNS, @margEW);
    

    .flex(@dir, @just);
    img{
        width:100%;
        
    }
    .text-content{

        margin:15px;
        h2{
            font-size:3rem;
            margin:15px;
        }

        p{
            margin:15px;
        }

        button{
            
            .btn();
        }

    }
}