
.flex(@dir:row,@just:space-between){
    display:flex;
    flex-direction:@dir;
    justify-content: @just;

   @media @phone {
       flex-direction:column;
   }
}

// .margin(@margNS:15px, @margEW:15px){
//     margin: @margNS @margEW;
// }

.btn(@width:100%,@bgcolor:@pColor){
    border-radius: 5px;
    width:@width;
    background:@bgcolor;
    font-size:3rem;
    padding:10px;
    color:#fff;

    @media @phone{
        width:50%;
        margin:auto;
    }
}