
@pColor:#29487d;
@hColor:#fff;


// Escaped values
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
//fonts
@import url('https://fonts.googleapis.com/css?family=Bonbon|Roboto+Slab&display=swap');
@pFont: 'Roboto Slab', serif;
@hFont: 'Bonbon', cursive;